

body {
  	min-width: 630px;      /* 2x (LC fullwidth +
                            CC padding) + RC fullwidth */
	/*margin-top: 50px;*/
	overflow: hidden;
}

.avatar {
	height: 47px;
	width: 47px;
}


.col {
	position: absolute;
	text-align: justify;
	top: 47px;
	overflow: auto;
	bottom: 0px;
}

#centercol {
	background-color: LightGreen;
	left:400px;
	right: 0px;
}

#leftcol {
	background-color: LightBlue;
	left: 0px;
	width: 400px;
}
