/*
	LOGIN HEADER
*/
	.logo {

	}

	img.avatar {
		height: 30px;
		width: 30px;
	}

	.loginHeader {
		border-bottom: 1px solid LightSteelBlue;
		background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	/*	margin-bottom: 10px;
	*/}

	.loginHeader h3 {
		margin: 0px;
	}

/*
	GLOBAL STYLES
*/
	.side {
		display: inline-block;
	}

	.right {
		/*width: %;*/
		margin-left: 425px;
		padding-left: 10px;
	}

	.floatRight {
		float: right;
		padding-right: 10px;
	}

	.floatLeft {
		float: left;
		padding-left: 10px;
	}

	.floatLeftNoPadding {
		float: left;
	}

	.floatRightNoPadding {
		float: right;
	}

	.clear {
		clear: both;
	}

	.clearRight {
		clear: right;
	}

	.hidden {
		visibility: hidden;
	}

	.container-fluid {
		background: LightBlue;
		padding: 0px 10px 0px 0px;
		border-bottom: 1px solid black;

	}

	.white {
		background: white;
	}

	.gap {
		margin-top: 4px;
		margin-bottom: 4px;
		height: 2px;
	}

	.spacing {
		/*padding-top: 8px;
		padding-bottom: 2px;*/
		padding-right: 20px;
	}

	.pane {
		padding: 10px;
		border-radius: 4px;
		margin: 10px;
	}

	.icon {
		height: 20px;
		width: 20px;
	}

/*
	BROWSE PANE
*/
	.browse {
		width: 425px;
		height: 100%;
		padding-top: 0.5em;
		border:0px;
	}
	#message-table{
		border-collapse: collapse;
		border-spacing: 0;
		height:700px;
		overflow: auto;
	}
	.table thead{
		background-color: GRAY;
		color: WHITE;
		padding: 2px;
	}
	.table tbody tr{
		border-top: 1px solid LightGray;
		border-bottom: 1px solid LightGray;	
	    line-height: 18px;
	    padding: 8px;
	    text-align: left;
	    vertical-align: top;
	    height:5em;
	}
	.table tbody tr:hover td {
	    background-color: LightGray;
	}
	.table .title{
		font-size: 1.5em;
		text-align: left;
	}
	.table .text{
		margin-top:0.75em;
		margin-left:1em;
		word-spacing: 0.1em;
		line-height:1.4em;
		font-size: 1em;
		text-align: left;
	}

/*
	READING PANE
*/
	.reading {
		position: relative;
		height: 300px;
	}

	i.captain {
		float: right;
		margin-bottom: 10px;
	}

	i.high_pri {
		float: right;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	img.authorPic {
		height: 30px;
		width: 30px;
		margin-bottom: 10px;
	}

	.originalMsg {
		border-bottom: solid LightGray 1px;
	}

	.originalMsgHeader {
		border-bottom: solid LightGray 1px;
	}

	.originalMsgTitle {
		float: left;
		font-size: 1.5em;
	}

	.originalMsgBody {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.originalMsgDetailsText {
		padding-left: 10px;
	}

	.reply {
		border-bottom: solid LightGray 1px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.replyHeader {
		font-size: 1.2em;
	}

	.replyBody {
		padding-top: 10px;
	}

	.replyDetailsText {
		padding-left: 10px;
	}

	.replyButton {
		margin-right: 20px;
	}

	.alignBottom {
		position: absolute;
		bottom: 5px;
	}

	.parentWidth {
		width: 100%;
	}

	.tag {
		display: inline-block;
		font-size: 10px;
		line-height: 12px;
		padding: 5px 7px;
		border-radius: 3px;
		background: LightSteelBlue;
		margin: 5px 4px;
	}

/*
	CREATE PANE
*/
	.create {
		height: 50%;
	}

	.leftForm {
		float: left;
		width: 50px;
	}

	.rightForm {
		float: right;
		width: 50px;
	}

	#messageForm {
		border-color: 2px solid;
		border-radius: 5px;
		border-color: black;
		width: 100%;
		height: 20%;
	}

	#messageFormHeader {
		text-align: left;
		text-indent: 5%;
		font-family: Helvetica;
		border-bottom: 2px solid;
		border-bottom-color: black;
		width: 100%;
	}

	#templatesRow {
		margin-left: 5%;
	}

	#titleLabel {
		width: 25%;
	}

	#titleInputBox {
		width: 75%;
	}

	#titleRow {
		margin-left: 5%;
	}

	#messageBox {
		height: 100px;
		width: 80%;
		margin-left: 5%;
	}

	#tagsLabel {
		margin-left: 5%;
	}

	#tagBox {
		margin-left: 5%;
		width: 80%;
	}

