/*
	LOGIN HEADER
*/
	.logo {

	}

	img.avatar {
		height: 46px;
		width: 46px;
	}

	.navbar-inner {
		border: 0px;
	}

	.create-btn {
		margin-top: 6px;
	}
/* 
	ICON STYLES
*/
	.icon-exclamation-sign {
		color: red;
	}

	.icon-envelope-alt {
		color: blue;
	}

	.icon-question-mark{
		color: green;
	}

	.icon-reply {
		/*color: blue;*/
	}

	.icon-user {
		color: red;
	}

	.icon-time {

	}

	.icon-ok-circle {
		/*replace issue when resolved*/
	}

	.icon-reorder {
		color: purple;
	}


/*
	GLOBAL STYLES
*/
	body {
		min-width: 630px;
		overflow: hidden;
	}

	.column {
		position: absolute;
		top: 46px;
		bottom: 0px;
	}


	#centercol {
		left: 400px;
		right: 0px;
		overflow: auto;
		background-color: LightGray;	
	}

	#leftcol {
		left: 0px;
		width: 400px;
	}


	.floatRight {
		float: right;
		padding-right: 10px;
	}

	.floatLeft {
		float: left;
		padding-left: 10px;
	}

	.floatLeftNoPadding {
		float: left;
	}

	.floatRightNoPadding {
		float: right;
	}

	.clear {
		clear: both;
	}

	.clearRight {
		clear: right;
	}

	.hidden {
		visibility: hidden;
	}


	.white {
		background: white;
	}


	.spacing {
		padding-right: 20px;
	}

	.icon {
		height: 20px;
		width: 20px;
		padding:0px;
		line-height:0px;
	}


/*
	BROWSE PANE
*/
	.captain{

	}

	.browse {
		border:0px;
	}

	.search-bar {
		margin: 5px 0px;
	}

	.bucket{
		background-color: #339966;
		color: white;
		font-weight:bold;
		border-bottom: 1px solid gray;
		padding: 5px;
		text-indent:1em;
	}

	.hidden{
		visibility: hidden;
	}
	.message-content{
		margin-left: 1em;
		width:90%;
	}

	.message-metadata{
		float:right;
		width: 15%;
		display:inline;
	}

	#message-table{
		border-collapse: collapse;
		border-spacing: 0;
		position: absolute;
		top: 40px;
		bottom: 0px;
		overflow: auto;
		border-top: 1px solid black;
	}

	.message-content{
		border-top: 1px solid LightGray;
		border-bottom: 1px solid LightGray;	
	    line-height: 18px;
	    padding: 8px;
	    text-align: left;
	    vertical-align: top;
	    height:5em;
	}
	.message-content:hover {
	    background-color: LightGray;
	}
	.text{
		margin-top:0.4em;
		word-spacing: 0.1em;
		line-height:1.1em;
		font-size: 0.9em;
		text-align: left;
		width:85%;
		display:block;
	}
	.title{
		font-size: 1.3em;
		text-align: left;
		width:85%;
		display:block;
	}
	.timestamp{
		font-size:80%;
	}

	ul, li {
		list-style:none;
		margin: 0;
	}

/*
	READING PANE
*/
	.reading {
		left:400px;
		bottom: 0px;
	}

	.well {
		border: 0px;
		margin: 10px;
	}

	.row {
		margin: 5px;
	}

	#messageHeader {
		border-bottom: solid LightGray 1px;
	}

	.replyHeader {
		width: 100%;
		padding-bottom: 10px;
		border-bottom: solid LightGray 1px;
	}

	.title {
		float: left;
		font-size: 1.5em;
	}

	#captainIcon {
		float: right;
		margin-bottom: 10px;
	}

	#priorityIcon {
		float: right;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.authorImg {
		float: left;
		height: 30px;
		width: 30px;
		margin-bottom: 10px;
	}

	.author {
		float: left;
		margin-left: 10px;
		font-size: 1.2em;
	}

	.clockIcon {
		float: right;
		margin-right: 5px;
	}

	.time {
		float: right;
	}

	#replyButton {
		float: right;
	}

	.tag {
		display: inline-block;
		font-size: 12px;
		line-height: 14px;
		/*background: #9FDFBF;*/
		margin-right: 5px;
		font-family: sans-serif;
		/*color: #468847;*/
background-color: #dff0d8;
border-color: #d6e9c6;
background-image: none;
	}

	/*.tag:hover {
		background: #79D2A6;
	}

	.tag:active {
		background: #79D2A6;
	}

	.tag:focus {
		background: #79D2A6;
	}*/


/*
	CREATE PANE
*/
	.create {
		position: absolute;
		bottom: 0px;
		width: 772px;
		left: 426px;
		float: left;
		border: 1px solid GRAY;
	}

	.leftForm {
		float: left;
		width: 50px;
	}

	.rightForm {
		float: right;
		width: 50px;
	}

	#createMsgModal {
		min-height: 300px;
		min-width: 450px;
		max-width: 600px;
		max-height: 500px;
		width: auto;
		height: auto;
		position: fixed;
	}

	.modal-body {
		min-height: 300px;
		min-width: 450px;
		max-width: 600px;
		max-height: 500px;
		width: auto;
		height: auto;
		overflow: auto;
		background-color: white;
	}

	#textarea {
		width: 425px;
		height: 250px;
	}

	.alert {
		max-width: 400px;
		width: auto;
	}